name: Beavs AI Continuous Integration
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "20"

      - name: Clean install dependencies
        run: npm ci

      - name: Run lint
        run: npm run lint

      - name: Check format
        run: npm run check-format

      - name: Type-check
        run: npm run type-check

      - name: Build project
        run: npm run build
